/* .heading{
    display:inline-block;
    justify-content: space-between;
 
   
}
.schoolDistrict{
    display: flex;
    justify-content: space-between;
}
.table_body{
    display: flex;
    justify-content: space-around;
} */