.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  padding-right: 20;
  margin: 0 0 30px;
  background-color: white;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: black;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  color: black;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}
.navigation-links { 
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  min-width: 500;
  padding-right: 20;
}
.innerNav{
  display: flex;
  justify-content: space-between;
  width: 99%;
  padding: 10;
}